@import url('https://fonts.googleapis.com/css?family=Open+Sans');
html {
    line-height: 1;
    font-family: 'Open Sans';
}

body {
    margin: 0;
}

#page-wrap{
    background: whitesmoke;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#CHART{
    width: 60vw;
    height: 60vw;
    display: flex;
}

#water{
    position: absolute;
    height: 48vw;
    width: 51.5vw;
    background-color: yellow;
    margin-left: 6vw;
    margin-top: 6vw;
    animation: waterY 20s infinite, waterX 5s infinite;
    animation-timing-function: linear;
    background-color:rgb(50,50,255);
    background-image:
    radial-gradient(circle at 100% 150%, rgb(50,50,255) 24%, rgb(50,40,220) 25%, rgb(50,40,220) 28%, rgb(50,50,255) 29%, rgb(50,50,255) 36%, rgb(50,40,220) 36%, rgb(50,40,220) 40%, transparent 40%, transparent),
    radial-gradient(circle at 0    150%, rgb(50,50,255) 24%, rgb(50,40,220) 25%, rgb(50,40,220) 28%, rgb(50,50,255) 29%, rgb(50,50,255) 36%, rgb(50,40,220) 36%, rgb(50,40,220) 40%, transparent 40%, transparent),
    radial-gradient(circle at 50%  100%, rgb(50,40,220) 10%, rgb(50,50,255) 11%, rgb(50,50,255) 23%, rgb(50,40,220) 24%, rgb(50,40,220) 30%, rgb(50,50,255) 31%, rgb(50,50,255) 43%, rgb(50,40,220) 44%, rgb(50,40,220) 50%, rgb(50,50,255) 51%, rgb(50,50,255) 63%, rgb(50,40,220) 64%, rgb(50,40,220) 71%, transparent 71%, transparent),
    radial-gradient(circle at 100% 50%, rgb(50,40,220) 5%, rgb(50,50,255) 6%, rgb(50,50,255) 15%, rgb(50,40,220) 16%, rgb(50,40,220) 20%, rgb(50,50,255) 21%, rgb(50,50,255) 30%, rgb(50,40,220) 31%, rgb(50,40,220) 35%, rgb(50,50,255) 36%, rgb(50,50,255) 45%, rgb(50,40,220) 46%, rgb(50,40,220) 49%, transparent 50%, transparent),
    radial-gradient(circle at 0    50%, rgb(50,40,220) 5%, rgb(50,50,255) 6%, rgb(50,50,255) 15%, rgb(50,40,220) 16%, rgb(50,40,220) 20%, rgb(50,50,255) 21%, rgb(50,50,255) 30%, rgb(50,40,220) 31%, rgb(50,40,220) 35%, rgb(50,50,255) 36%, rgb(50,50,255) 45%, rgb(50,40,220) 46%, rgb(50,40,220) 49%, transparent 50%, transparent);
    background-size: 6vw 3vw;
    opacity: 0.9;
    display: none;
}

#canvas{
    position: absolute;
}

.chart-label{
    position: absolute;
}

#y-label{
    transform: rotate(-90deg) translate(-20vw,-20vw);
}

#x-label{
    transform: translate(30vw,-1vw);
}

#red-green{
    height: calc(50vw - 100px);
    margin-top: 50px;
    width: 5vw;
    background-image: linear-gradient(to bottom, red,rgb(0, 255, 0),yellow);
    /* position: absolute; */
}

#Loading{
    width: 60vw;
    height: 60vw;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
}

@keyframes waterY {
    /* 25% {background)} */
    50% {background-position-x: 30%}
    /* 75% {filter: hue-rotate(-20deg)} */
}

@keyframes waterX {
    /* 25% {background)} */
    50% {background-position-y: 3%}
    /* 75% {filter: hue-rotate(-20deg)} */
}

@media screen and (min-width: 768px){
    #y-label{
        transform: rotate(-90deg) translate(-20vw,-10vw);
    }
}

@media screen and (min-width: 1040px){
    #CHART{
        width: 50vw;
        height: 50vw;
    }
    #water{
        height: 40vw;
        width: 42.9vw;
        margin-left: 5vw;
        margin-top: 5vw;
    }
    #x-label{
        transform: translate(25vw,-1vw);
    }
    #Loading{
        width: 50vw;
        height: 50vw;
    }
}