@import url('https://fonts.googleapis.com/css?family=Open+Sans|Oswald');
html {
    line-height: 1;
    font-family: 'Open Sans';
}

body {
    margin: 0;
    background: whitesmoke;
}


#page-wrap{
    background: whitesmoke;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

[type=radio]{
    display: none;
}

label{
    background-color: white;
    border-radius: 20% / 5%;
    transition: background-color .35s ease;
}

[type=radio]:checked + label{
    background-color: lightblue;
}