@import url('https://fonts.googleapis.com/css?family=Open+Sans:300|Oswald|Source+Serif+Pro');
html {
    line-height: 1;
}

* {
    font-family: 'Oswald';
}

h1{
    font-family: 'Open Sans';
}

p{
    font-family: 'Source Serif Pro'
}

body {
    margin: 0;
    background: whitesmoke;
}


#page-wrap{
    background: whitesmoke;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

[type=radio]{
    display: none;
}

label{
    background-color: white;
    border-radius: 20% / 5%;
    transition: background-color .35s ease;
}

[type=radio]:checked + label{
    background-color: lightblue;
}

@media screen and (min-width:768px){
    h1{
        font-size: 5vw;
    }
}

@media screen and (min-width:1040px){
    h1{
        font-size: 4vw;
    }
}